/* Container styling */

/* Style for the heading */
.styled-heading {
  font-size: 2rem; /* Font size */
  color: #587390; /* Dark color for the text */
  text-align: center; /* Center align the text */
  margin-top: 20px;
  margin-bottom: 20px;
}

.people-container {
    font-family: 'Karma', sans-serif;
    max-width: 1480px;
    margin: auto;
    padding: 16px;
    margin-top: 96px;
  }

  
  /* Grid layout for lab members */
  .people-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
    gap: 24px;
  }
  
  /* Each lab member card */
  .people-card {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  /* Image styling */
  .people-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 14px;
  }
  
  /* Name styling */
  .people-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 12px;
  }
  
  /* Description styling */
  .people-card p {
    font-size: 0.9rem;
    color: gray;
  }

  /* Grid layout for lab members */
  .prof-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }

 /* Each lab member card */
.prof-card {
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Use flexbox to align items horizontally */
  align-items: flex-start; /* Align items at the start of the container */
  text-align: left; /* Align text to the left */
  width: 100%; /* Make the card span the full width */
}

/* Image styling */
.prof-img-div {
  flex: 0 0 20%; /* Image will take up 20% of the card width */
  margin-right: 16px; /* Space between the image and text */
}

.prof-img {
  width: 100%; /* Full width of the .prof-img-div */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 14px;
}

/* Text container styling */
.prof-content-div {
  margin-bottom: 10px; /* Add space between the rows */
}

/* Name styling */
.prof-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* Position styling */
.prof-position {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* Position styling */
.prof-lab-state {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* Description styling */
.prof-descripton {
  font-size: 0.9rem;
  font-weight: normal;
  color: rgb(100, 100, 100);
}